{% load static %}
  {% include 'includs/head_index.html' %}

<body>
  {% include 'includs/nav.html' %}
  {% include 'includs/carouselSlide.html' %}


  <div class="container">
    <div>
    {% if registation is True %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Registration successful :)
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif registation is False %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Registration failed :'(
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if registation_form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Registration failed !!!! {{f.errors}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </div>

      {% include 'includs/producrViewWindow.html' %}
  </div>

  {% include 'includs/footer.html' %}

{% include 'includs/modal.html' %}


  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/7483615cee.js" crossorigin="anonymous"></script>
  <!-- for receiving csrf cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="{% static 'scripts/index.js' %}"></script>
</body>

</html>