{% load static %}
<div id="dashboard" class="tab-pane fade in active show">
      
        <div class="">
          <div class="row">


            <div class="col-12 col-md-4 mb-3  box_style box_colour1">

              <h3>Pending Orders <br><br> 0 </h3>
              <ul class="list-group box_colour1">
                <li class="list-group-item box_colour1">
                  <div style="float: left;">today</div>
                  <div style="float: right;"> O</div>
                </li>
                <li class="list-group-item box_colour1" style="background-color: rgb(136, 198, 248);">
                  <div style="float: left;">Yesterday</div>
                  <div style="float: right;">O</div>
                </li>
                <li class="list-group-item box_colour1" style="background-color: rgb(136, 198, 248);">
                  <div style="float: left;">older</div>
                  <div style="float: right;">O</div>
                </li>
                <li class="list-group-item box_colour1" style="background-color: rgb(136, 198, 248);">
                  <div style="float: left;">Current daily Ordert limitation</div>
                  <div style="float: right;">O</div>
                </li>
              </ul>

            </div>

            <div class="col-6 col-md-4 mb-3  box_style box_colour2">
              <h3>Best Seling product sales<br><br> 44% </h3>
              <ul class="list-group box_colour2">
                <li class="list-group-item box_colour2">
                  <div style="float: left;">Best seling Product stock level</div>
                  <div style="float: right;">O</div>
                </li>
                <li class="list-group-item box_colour2">
                  <div style="float: left;">Out of stock</div>
                  <div style="float: right;">O</div>
                </li>
                <li class="list-group-item box_colour2">
                  <div style="float: left;"></div>
                  <div style="float: right;"></div>
                </li>
                <li class="list-group-item box_colour2">
                  <div style="float: left;"></div>
                  <div style="float: right;"></div>
                </li>
              </ul>
            </div>
            <div class="col-6 col-md-4 mb-3  box_style box_colour3">
              <h3>New product creation In 14 days <br><br> 5 </h3>
              <ul class="list-group box_colour3">
                <li class="list-group-item box_colour3">
                  <div style="float: left;">Rejected products </div>
                  <div style="float: right;">O</div>
                </li>
                <li class="list-group-item box_colour3">
                  <div style="float: left;">Approved products</div>
                  <div style="float: right;">429</div>
                </li>
                <li class="list-group-item box_colour3">
                  <div style="float: left;">Pending products</div>
                  <div style="float: right;">O</div>
                </li>
                <li class="list-group-item box_colour3">
                  <div style="float: left;"></div>
                  <div style="float: right;"></div>
                </li>
              </ul>
          </div>
        </div>

        </div>
      </div>