{% load static %}
   <div class="footer mt-5">
    <!--  footer -->
    <footer class="container  ">
      <div class="mx-5 pt-5 row text-white">
        <div class="col-md-6">
          <img src="{% static 'data/logo.svg' %}" width="" height="45" alt="Shop" sizes="" srcset="">
          <p>-- Get high quality candy in affordable price</p>
          <ul>
            <li>Call Us: <a href="#" class="">+01963278613</a> </li>
            <li>Email: <a href="#" class="">rashedafridi@gmail.com</a> </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <h5 class="mb-0 mt-2">Explote</h5>
              <ul class="">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Gift</a></li>
                <li><a href="#">Special Deals</a></li>
                <li><a href="#">brands</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5 class="mb-0 mt-2">Search BY</h5>
              <ul class="">
                <li><a href="#">Color</a></li>
                <li><a href="#">occasion</a></li>
                <li><a href="#">Brand</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5 class="mb-0 mt-2">Registation</h5>
              <ul class="">
                <li><a href="#">Register</a> </li>
                <li><a href="#">login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p class="copy-write text-center align-bottom ">2020 mit lisience All right reserve</p>
      </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="{% static 'scripts/admin.js' %} "></script>
  <script src="https://kit.fontawesome.com/7483615cee.js" crossorigin="anonymous"></script>